##### Grading Feedback Cell
75

# IST 718: Big Data Analytics

- Professor: Willard Williamson <wewillia@syr.edu>
- Faculty Assistant: Palaniappan Muthukkaruppan
## General instructions:

- You are welcome to discuss the problems with your classmates but __you are not allowed to copy any part of your answers from your classmates.  Short code snippets are allowed from the internet.  Any code is allowed from the class text books or class provided code.__
- Please do not change the file names. The FAs and the professor use these names to grade your homework.
- Remove or comment out code that contains `raise NotImplementedError`. This is mainly to make the `assert` statement fail if nothing is submitted.
- The tests shown in some cells (i.e., `assert` and `np.testing.` statements) are used to grade your answers. **However, the professor and FAs will use __additional__ test for your answer. Think about cases where your code should run even if it passess all the tests you see.**
- Before submitting your work through Blackboard, remember to save and press `Validate` (or go to 
`Kernel`$\rightarrow$`Restart and Run All`).

In [1]:
# create spark and sparkcontext objects
from pyspark.sql import SparkSession
from pyspark.sql import Row
import numpy as np
import re

from pyspark.sql.types import StructType,StructField

import types


import numpy.testing as testing

spark = SparkSession.builder.appName('map-reduce').getOrCreate()
sc = spark.sparkContext
spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext

## Warning: Use exclusively Spark 1.6 when asked to do so and Spark 2.0 (dataframes) only in the last question. Do not use Pandas at all in this assignment

# Part 2: Data cleaning and basic analyses

In this part, you will learn to read data from non-standard formats, clean data, and produce some basic analysis of it.

We will use Spark 1.6 (`sparkContext` on variable `sc`) to load text files from which we will extract features that are predictive of a target value. Unfortunately, the data is stored in some non-standard format where each line contains the customer index, the feature index, and the value of the feature for that customer. Similarly, the target files contain in each line the customer index and the target value. We will load these files into two RDDs:

In [2]:
# Adjust the following lines as needed to read the data files
# If running on databricks, you will need to upload the data to databricks and then
# adjust the file path as demonstrated in class.
raw_features_rdd = sc.textFile('hw2_dataset_features.txt')
raw_target_rdd = sc.textFile('hw2_dataset_targets.txt')

An issue with the data is that there were problems transmitting the features and targets. If this happened, then a text `ERROR` or `ERROR TRANSFERRING` replaced the data. If you look at the first 10 values of the features and target RDD, you will see these types of lines:

```python
raw_features_rdd.take(10)
```

```
['<customer_feature customer_id=0 feature_id=0>-0.57</customer_feature>',
 '<customer_feature customer_id=0 feature_id=1>-0.38</customer_feature>',
 '<customer_feature customer_id=0 feature_id=2>0.00</customer_feature>',
 '<customer_feature customer_id=0 feature_id=3>-0.07</customer_feature>',
 '<customer_feature customer_id=0 feature_id=4>-0.28</customer_feature>',
 '<customer_feature customer_id=0 feature_id=5>-0.79</customer_feature>',
 'ERROR',
 '<customer_feature customer_id=0 feature_id=7>0.28</customer_feature>',
 '<customer_feature customer_id=0 feature_id=8>1.65</customer_feature>',
 '<customer_feature customer_id=0 feature_id=9>0.57</customer_feature>']
```

```python
raw_target_rdd.take(35)
```

```
['<customer_target customer_id=0>-252.49</customer_target>',
 '<customer_target customer_id=1>36.67</customer_target>',
 '<customer_target customer_id=2>138.02</customer_target>',
 '<customer_target customer_id=3>-429.54</customer_target>',
 '<customer_target customer_id=4>-18.23</customer_target>',
 '<customer_target customer_id=5>-5.52</customer_target>',
 '<customer_target customer_id=6>-31.96</customer_target>',
 'ERROR TRANSFERRING',
 'ERROR TRANSFERRING',
 '<customer_target customer_id=9>-111.88</customer_target>']
```

In [3]:
# try it yourself: raw_features_rdd.take(10) and raw_target_rdd.take(10)
raw_features_rdd.take(10)

['<customer_feature customer_id=0 feature_id=0>-0.57</customer_feature>',
 '<customer_feature customer_id=0 feature_id=1>-0.38</customer_feature>',
 '<customer_feature customer_id=0 feature_id=2>0.00</customer_feature>',
 '<customer_feature customer_id=0 feature_id=3>-0.07</customer_feature>',
 '<customer_feature customer_id=0 feature_id=4>-0.28</customer_feature>',
 '<customer_feature customer_id=0 feature_id=5>-0.79</customer_feature>',
 'ERROR',
 '<customer_feature customer_id=0 feature_id=7>0.28</customer_feature>',
 '<customer_feature customer_id=0 feature_id=8>1.65</customer_feature>',
 '<customer_feature customer_id=0 feature_id=9>0.57</customer_feature>']

In [4]:
raw_target_rdd.take(10)

['<customer_target customer_id=0>-252.49</customer_target>',
 '<customer_target customer_id=1>36.67</customer_target>',
 '<customer_target customer_id=2>138.02</customer_target>',
 '<customer_target customer_id=3>-429.54</customer_target>',
 '<customer_target customer_id=4>-18.23</customer_target>',
 '<customer_target customer_id=5>-5.52</customer_target>',
 '<customer_target customer_id=6>-31.96</customer_target>',
 'ERROR TRANSFERRING',
 'ERROR TRANSFERRING',
 '<customer_target customer_id=9>-111.88</customer_target>']

## Question 2.1 (10 pts):

Filter out the lines that contain errors and store them in `raw_features2_rdd` and `raw_targets_rdd` respectively.

In [5]:
def filter_err1(row):
    
    if row == 'ERROR':
        return False
    else:
        return True

In [6]:
raw_features2_rdd= raw_features_rdd.filter(lambda line: filter_err1(line))
raw_features2_rdd.count()

95036

In [7]:
# create raw_features2_rdd and raw_targets2_rdd below
# YOUR CODE HERE
def filter_err2(row):
    
    if row == 'ERROR TRANSFERRING':
        return False
    else:
        return True

In [8]:
raw_target2_rdd= raw_target_rdd.filter(lambda line: filter_err2(line))
raw_target2_rdd.count()

8968

In [9]:
# check that things work
print(raw_features2_rdd.count())
print(raw_target2_rdd.count())

95036
8968

In [10]:
"""10 pts: Check that the lines are properly discarded"""
assert raw_features2_rdd.count() == 95036
assert raw_target2_rdd.count() == 8968

## Question 2.2 (10 pts):
You will further process `raw_features2_rdd` such that you will create a key-value RDD of the following form: the key is the customer index as an integer and the value is a dictionary whose key is a string `f_0`, `f_1`, ..., `f_9` for feature index 0, 1, ... 9, respetively, and the value is a floating point number of the feature value. 

Define a function `map_features2` that performs such key-value pair creation.

In [11]:

def map_features2(line):
    match = re.search('.*customer_id=(\d{1,}).*feature_id=(\d{1})>(-?\d*[.,]?\d{1,})',line)
    return [int(match.group(1)),{'f_'+str(match.group(2)):float(match.group(3))}]

For example, for the input element:

`'<customer_feature customer_id=4 feature_id=0>-0.79</customer_feature>'`

it should generate
```python
[4, {'f_0': -0.79}]
```

In [12]:
# test it here
raw_features2_rdd.\
    map(map_features2).\
    take(10)

[[0, {'f_0': -0.57}],
 [0, {'f_1': -0.38}],
 [0, {'f_2': 0.0}],
 [0, {'f_3': -0.07}],
 [0, {'f_4': -0.28}],
 [0, {'f_5': -0.79}],
 [0, {'f_7': 0.28}],
 [0, {'f_8': 1.65}],
 [0, {'f_9': 0.57}],
 [1, {'f_0': 0.5}]]

In [13]:
"""10 pts: Check that the new raw_features2_rdd and raw_target2_rdd RDDs are correct"""
# key is an integer
np.testing.assert_equal(type(raw_features2_rdd.map(map_features2).first()[0]), int)
# value is a dictionary
np.testing.assert_equal(type(raw_features2_rdd.map(map_features2).first()[1]), dict)

## Question 2.3 (5 pts):

You will create a function `map_target2` that will be applied to `raw_target2_rdd`. This function will create key-value pair where the key is the customer index as an integer and the value is the floating point representation of the target. Assign the resulting RDD to `raw_target3_rdd`.

In [14]:
def map_target2(line):
    match1 = re.search('.*customer_id=(\d{1,})>(-?\d*[.,]?\d{1,})',line)
    return int(match1.group(1)),float(match1.group(2))
    raise NotImplementedError()

# make the assignment here
raw_target3_rdd = raw_target2_rdd.map(map_target2)
raw_target3_rdd.collect()

[(0, -252.49),
 (1, 36.67),
 (2, 138.02),
 (3, -429.54),
 (4, -18.23),
 (5, -5.52),
 (6, -31.96),
 (9, -111.88),
 (10, -34.48),
 (11, -172.76),
 (12, -356.98),
 (13, -77.59),
 (14, -106.22),
 (16, 117.49),
 (18, -142.74),
 (19, 176.36),
 (20, 257.51),
 (21, -136.39),
 (22, -117.16),
 (23, 16.39),
 (24, 21.24),
 (25, -158.04),
 (26, 187.7),
 (27, -29.31),
 (28, -234.14),
 (30, -103.26),
 (31, -30.04),
 (32, 116.33),
 (33, 204.42),
 (34, -405.09),
 (35, 136.89),
 (36, 49.22),
 (37, -177.24),
 (38, 245.48),
 (39, -98.3),
 (40, -157.39),
 (41, -122.48),
 (42, -35.32),
 (43, -117.87),
 (44, 112.2),
 (45, -261.49),
 (46, -395.52),
 (47, 212.63),
 (48, -62.85),
 (49, -41.15),
 (52, 219.52),
 (53, 43.75),
 (54, 217.91),
 (55, -122.51),
 (57, 235.14),
 (58, 113.28),
 (59, 95.07),
 (60, 33.89),
 (61, -69.14),
 (62, 260.06),
 (63, 53.46),
 (64, -69.14),
 (65, -274.55),
 (66, -183.64),
 (67, 19.01),
 (68, 64.9),
 (69, -179.64),
 (70, 52.69),
 (71, -215.71),
 (72, 125.61),
 (74, -147.76),
 (75, 35.35),
 (76, -104.4),
 (77, -25.67),
 (78, -140.08),
 (79, -50.7),
 (80, 53.16),
 (81, -22.74),
 (82, -78.37),
 (83, -24.51),
 (84, -99.6),
 (85, 222.23),
 (86, -127.9),
 (87, 167.67),
 (88, -307.68),
 (89, -38.29),
 (90, 76.68),
 (91, -153.54),
 (92, -65.01),
 (93, 120.64),
 (94, -77.16),
 (95, 98.57),
 (96, -9.46),
 (97, -104.16),
 (98, 121.55),
 (99, 37.24),
 (100, 119.68),
 (101, 308.29),
 (102, 44.69),
 (103, -103.67),
 (104, 184.5),
 (105, 11.18),
 (106, -64.77),
 (107, -92.3),
 (108, 76.11),
 (109, -64.61),
 (111, 84.54),
 (112, -247.63),
 (113, -26.37),
 (114, 45.13),
 (115, -14.26),
 (116, -162.81),
 (117, 14.03),
 (118, 20.78),
 (119, -174.63),
 (120, -2.5),
 (121, 12.34),
 (122, -37.88),
 (123, -76.99),
 (124, -63.99),
 (125, 27.61),
 (126, -61.3),
 (127, -305.05),
 (128, 319.03),
 (129, -51.13),
 (130, -322.15),
 (131, -20.87),
 (132, 189.49),
 (133, -57.86),
 (134, -13.82),
 (135, 70.42),
 (136, 12.71),
 (137, 171.55),
 (138, -75.33),
 (139, 25.11),
 (140, -283.1),
 (141, 249.36),
 (142, 54.43),
 (143, 93.6),
 (144, 91.5),
 (145, -140.93),
 (147, 95.28),
 (148, -323.78),
 (149, -293.53),
 (150, 202.21),
 (151, 127.53),
 (152, -251.55),
 (153, -48.18),
 (155, -82.99),
 (156, -59.81),
 (157, 291.56),
 (158, -17.05),
 (159, -39.78),
 (160, -256.53),
 (161, 46.59),
 (162, -82.8),
 (163, -7.39),
 (164, -123.28),
 (165, -28.09),
 (166, 123.79),
 (167, 14.04),
 (168, -256.82),
 (169, -7.1),
 (170, 71.78),
 (172, -112.59),
 (173, -482.54),
 (174, -191.87),
 (175, -244.78),
 (176, 396.75),
 (177, -19.6),
 (178, 89.62),
 (180, 196.11),
 (181, -42.96),
 (182, -154.65),
 (184, -137.21),
 (185, -23.74),
 (186, 163.6),
 (187, -9.72),
 (188, 77.0),
 (189, -4.49),
 (190, 25.38),
 (193, -52.77),
 (194, 326.59),
 (195, 228.29),
 (196, 109.23),
 (197, 125.48),
 (198, -9.64),
 (199, 35.88),
 (200, -178.46),
 (201, 198.41),
 (202, -132.59),
 (203, 177.5),
 (204, -124.13),
 (205, 229.51),
 (206, -129.12),
 (207, -222.5),
 (209, -39.36),
 (210, -249.25),
 (211, 154.57),
 (212, 392.32),
 (213, 432.04),
 (214, -139.14),
 (215, -357.67),
 (216, -51.48),
 (217, 142.61),
 (218, -141.95),
 (219, -49.12),
 (220, 29.5),
 (222, 65.19),
 (223, -34.58),
 (224, 74.07),
 (225, -243.19),
 (226, -18.62),
 (227, -43.47),
 (228, -11.69),
 (229, 80.45),
 (230, 38.37),
 (231, 225.8),
 (232, -136.71),
 (233, -45.11),
 (234, 131.47),
 (235, -99.54),
 (237, -94.51),
 (238, -76.52),
 (239, -247.2),
 (240, -151.64),
 (241, -110.88),
 (242, -109.65),
 (243, 99.77),
 (244, -166.56),
 (245, -19.04),
 (246, 47.42),
 (247, 86.83),
 (248, -161.21),
 (249, 110.41),
 (250, -230.78),
 (251, 37.79),
 (252, -7.45),
 (254, -237.01),
 (255, -13.86),
 (256, -162.15),
 (258, 11.17),
 (259, -164.09),
 (260, -184.15),
 (261, 58.06),
 (262, -221.97),
 (263, -263.84),
 (264, -184.6),
 (265, 82.27),
 (266, 98.08),
 (268, 33.07),
 (269, 110.75),
 (270, 77.86),
 (271, 177.87),
 (274, 80.61),
 (275, -133.14),
 (276, 238.34),
 (277, 89.1),
 (278, 36.88),
 (279, 29.02),
 (280, -129.06),
 (281, -300.78),
 (282, 57.05),
 (283, 57.88),
 (284, 32.82),
 (285, -103.28),
 (286, 155.42),
 (287, -100.53),
 (288, 30.3),
 (289, -130.64),
 (290, -137.7),
 (291, -124.77),
 (292, -190.81),
 (293, -237.97),
 (294, 111.65),
 (295, -44.83),
 (296, -358.24),
 (297, -146.27),
 (298, 100.85),
 (299, 26.62),
 (300, 1.77),
 (302, -104.11),
 (303, 159.59),
 (304, -59.31),
 (305, 291.87),
 (306, -31.86),
 (307, 19.13),
 (308, -415.32),
 (309, 25.57),
 (310, 169.88),
 (311, 155.65),
 (313, 120.54),
 (314, 147.19),
 (315, 37.55),
 (316, -1.69),
 (317, -16.56),
 (318, -29.05),
 (319, 193.89),
 (320, -93.31),
 (321, 193.56),
 (322, -139.82),
 (323, -37.48),
 (324, 201.9),
 (326, 55.34),
 (327, 30.68),
 (328, -161.84),
 (329, -76.74),
 (330, -83.48),
 (331, -58.17),
 (332, 19.43),
 (333, -193.44),
 (334, 122.62),
 (335, -337.28),
 (336, -9.51),
 (337, -95.5),
 (338, 11.81),
 (339, 29.0),
 (340, -106.21),
 (341, 203.06),
 (342, 101.65),
 (343, 50.91),
 (345, -176.2),
 (346, 21.16),
 (347, -25.18),
 (348, -330.41),
 (350, 127.14),
 (353, -36.77),
 (354, 225.65),
 (355, -28.18),
 (356, 74.81),
 (359, 81.94),
 (360, -75.78),
 (361, 52.38),
 (362, 38.13),
 (363, -46.38),
 (364, -173.14),
 (365, -339.15),
 (366, -0.58),
 (367, -36.81),
 (368, -94.88),
 (369, 6.74),
 (370, -96.34),
 (371, -186.29),
 (373, 330.42),
 (374, 161.7),
 (375, -26.52),
 (376, 164.69),
 (377, 44.77),
 (378, 195.81),
 (379, -192.83),
 (380, -106.26),
 (381, -225.38),
 (382, -157.19),
 (384, -189.2),
 (386, 25.54),
 (387, 226.07),
 (388, 194.37),
 (389, -78.13),
 (390, 55.41),
 (391, -57.11),
 (392, 8.6),
 (393, 44.5),
 (395, 131.98),
 (396, 121.39),
 (397, 38.81),
 (398, 133.67),
 (399, -28.47),
 (400, -10.92),
 (401, -162.14),
 (402, 48.14),
 (403, 133.24),
 (404, 61.48),
 (405, -41.21),
 (407, -17.11),
 (408, -280.39),
 (409, -10.58),
 (410, -384.39),
 (411, -80.48),
 (412, 228.87),
 (414, 192.83),
 (415, -23.85),
 (416, -173.94),
 (417, -85.02),
 (418, 160.12),
 (419, -122.76),
 (420, 201.13),
 (422, -33.24),
 (423, -41.08),
 (424, -181.98),
 (425, 305.76),
 (427, 73.45),
 (428, 115.2),
 (429, 103.61),
 (430, 206.5),
 (431, -111.85),
 (432, 9.34),
 (433, -206.82),
 (434, -46.06),
 (435, -33.59),
 (436, -124.38),
 (437, -177.83),
 (438, 69.51),
 (439, 83.95),
 (440, -59.92),
 (441, 80.08),
 (442, 242.17),
 (443, -324.62),
 (444, -42.09),
 (445, 52.62),
 (446, 8.44),
 (447, -12.25),
 (448, -242.96),
 (449, -11.56),
 (451, -54.6),
 (452, -76.92),
 (453, 329.38),
 (454, 140.49),
 (455, 35.63),
 (456, -182.52),
 (458, -55.32),
 (459, 10.92),
 (460, -106.89),
 (461, 21.24),
 (462, -230.86),
 (463, -65.47),
 (464, 125.96),
 (465, 398.1),
 (466, -28.96),
 (467, 107.57),
 (468, -23.68),
 (469, -72.5),
 (470, -63.15),
 (471, 110.03),
 (472, 67.53),
 (473, -139.62),
 (475, -202.37),
 (477, -100.93),
 (478, -11.25),
 (479, 329.18),
 (480, 211.39),
 (481, 121.41),
 (482, -97.45),
 (483, -124.91),
 (484, -20.95),
 (485, 86.68),
 (486, -67.98),
 (487, 161.9),
 (488, -0.56),
 (489, 28.67),
 (490, 50.81),
 (492, 62.57),
 (493, 50.21),
 (495, 471.69),
 (496, 359.67),
 (499, -125.48),
 (500, -15.46),
 (501, -266.62),
 (502, 190.07),
 (503, -254.78),
 (504, -24.16),
 (505, 156.46),
 (507, 137.78),
 (508, -99.16),
 (509, -44.62),
 (510, -70.31),
 (511, -127.12),
 (512, 352.52),
 (514, 98.86),
 (515, -40.05),
 (516, -221.87),
 (517, 276.44),
 (518, -284.37),
 (519, 244.46),
 (520, -87.64),
 (521, -144.12),
 (522, -4.69),
 (523, 91.18),
 (524, 101.12),
 (525, 36.46),
 (526, -14.25),
 (527, 203.25),
 (528, -1.38),
 (529, -76.11),
 (532, -68.25),
 (533, -275.77),
 (534, -96.52),
 (536, 132.73),
 (537, -46.06),
 (539, -171.63),
 (540, -12.98),
 (541, -81.58),
 (542, 272.28),
 (543, -272.95),
 (544, -59.21),
 (545, 668.08),
 (546, -102.28),
 (547, -8.27),
 (548, -52.8),
 (549, 138.85),
 (550, 100.66),
 (551, -17.35),
 (552, 30.77),
 (553, 251.27),
 (554, -77.99),
 (555, -37.33),
 (556, -116.27),
 (557, -32.53),
 (558, -16.17),
 (559, 171.92),
 (560, -267.43),
 (561, 31.29),
 (562, 0.94),
 (564, 89.38),
 (565, 49.7),
 (566, 32.84),
 (567, -143.67),
 (568, 6.83),
 (569, -457.2),
 (570, 256.34),
 (571, -161.1),
 (572, -224.19),
 (573, -14.66),
 (574, -514.6),
 (575, -250.06),
 (576, 202.84),
 (577, -269.26),
 (578, -69.94),
 (580, -119.11),
 (581, 113.42),
 (582, -6.74),
 (583, 66.2),
 (584, -38.7),
 (585, 267.91),
 (586, 18.39),
 (587, -43.09),
 (588, 518.95),
 (589, -187.7),
 (590, -85.24),
 (591, -13.02),
 (592, -64.03),
 (593, -324.65),
 (594, 143.31),
 (595, -206.45),
 (596, -165.11),
 (597, -9.27),
 (598, 59.85),
 (599, 102.37),
 (600, -48.9),
 (602, -299.27),
 (603, -10.59),
 (604, -15.34),
 (605, -71.7),
 (606, -10.01),
 (607, 58.4),
 (608, -17.12),
 (609, 21.21),
 (611, 188.83),
 (612, 290.67),
 (613, -41.38),
 (614, 15.32),
 (615, -159.93),
 (616, -250.3),
 (617, -261.33),
 (620, -334.45),
 (621, -55.72),
 (622, -221.14),
 (623, 4.15),
 (624, 139.0),
 (625, 28.7),
 (628, -30.59),
 (629, -185.57),
 (631, 161.21),
 (632, -64.02),
 (634, 85.36),
 (636, 19.43),
 (637, 211.48),
 (638, 65.16),
 (639, 18.02),
 (640, 25.64),
 (641, 198.63),
 (642, -14.34),
 (645, -456.51),
 (646, 223.57),
 (647, 76.75),
 (649, -296.08),
 (650, 95.2),
 (651, 13.72),
 (652, -38.74),
 (653, -82.48),
 (655, -22.02),
 (656, -112.71),
 (657, -199.71),
 (658, -47.59),
 (659, -28.89),
 (660, -187.35),
 (661, -61.17),
 (663, 21.28),
 (664, -31.05),
 (665, 103.58),
 (667, 11.87),
 (668, -86.18),
 (669, -31.23),
 (670, 44.57),
 (672, 81.55),
 (673, -75.41),
 (674, -67.7),
 (675, -45.43),
 (676, -459.03),
 (677, -69.55),
 (678, -324.26),
 (679, -8.09),
 (680, 180.88),
 (681, 63.73),
 (682, 83.82),
 (683, 79.9),
 (684, -81.98),
 (685, 145.04),
 (686, -29.76),
 (687, 154.24),
 (688, -71.42),
 (689, 39.21),
 (690, -179.66),
 (692, -136.42),
 (693, 65.5),
 (694, 10.22),
 (695, -82.69),
 (697, -146.58),
 (698, -45.04),
 (699, 147.28),
 (700, 77.6),
 (701, 11.92),
 (702, -58.08),
 (703, 56.73),
 (704, -116.78),
 (705, 79.19),
 (707, 143.66),
 (708, -51.35),
 (709, -164.29),
 (710, -187.53),
 (711, -162.53),
 (712, -7.42),
 (713, 234.91),
 (714, -54.5),
 (715, -166.01),
 (716, 87.48),
 (717, 180.27),
 (718, -27.1),
 (719, -9.89),
 (720, -57.71),
 (721, -310.28),
 (723, -107.49),
 (725, 190.86),
 (726, -132.46),
 (727, 24.47),
 (728, 227.64),
 (729, 92.67),
 (730, -160.76),
 (731, -27.91),
 (732, 89.22),
 (733, -360.42),
 (734, 3.49),
 (735, -44.12),
 (736, 82.91),
 (737, -176.66),
 (738, 157.08),
 (739, -34.22),
 (740, -200.05),
 (741, 31.04),
 (743, -214.56),
 (744, -181.68),
 (745, -132.03),
 (746, -90.31),
 (747, 82.47),
 (748, -117.67),
 (749, -61.33),
 (750, 150.45),
 (751, -104.43),
 (752, 13.91),
 (753, -68.41),
 (754, 32.89),
 (755, 271.27),
 (756, 68.98),
 (758, 152.96),
 (759, 240.45),
 (760, 118.41),
 (761, 5.64),
 (762, -193.87),
 (763, 84.98),
 (764, -49.17),
 (765, -121.59),
 (766, -283.34),
 (767, 38.6),
 (768, 41.72),
 (769, 58.15),
 (770, 197.25),
 (771, -61.1),
 (772, 92.56),
 (773, -253.38),
 (774, -297.62),
 (775, -194.43),
 (776, -107.4),
 (777, 11.44),
 (778, 77.5),
 (779, -277.62),
 (780, -369.17),
 (781, -148.82),
 (782, -60.36),
 (783, -35.16),
 (784, -299.89),
 (785, -164.03),
 (786, -2.04),
 (787, -294.55),
 (789, 25.41),
 (791, 105.23),
 (793, -228.88),
 (794, -148.17),
 (795, -354.45),
 (796, 8.67),
 (797, -95.39),
 (798, 90.99),
 (799, -322.16),
 (800, -198.54),
 (801, -111.82),
 (802, -10.43),
 (803, 21.58),
 (804, 140.42),
 (805, 2.69),
 (806, 247.18),
 (807, 74.55),
 (808, -64.95),
 (809, 118.01),
 (810, 63.49),
 (811, -55.69),
 (813, 163.59),
 (814, -14.44),
 (815, -41.6),
 (816, 127.93),
 (817, 211.95),
 (818, 215.05),
 (819, 40.32),
 (820, -180.17),
 (821, -136.91),
 (822, 26.46),
 (824, 52.77),
 (825, -226.82),
 (826, -152.92),
 (827, 173.55),
 (828, 81.32),
 (829, -200.22),
 (830, 186.08),
 (831, -91.04),
 (832, -260.79),
 (833, -87.28),
 (834, 50.24),
 (835, -9.39),
 (836, 210.7),
 (837, 65.35),
 (838, -103.5),
 (840, 226.39),
 (841, -52.03),
 (842, 5.22),
 (844, 1.5),
 (845, -58.94),
 (846, 83.03),
 (847, 127.4),
 (848, 0.56),
 (849, 207.76),
 (850, 168.82),
 (851, 25.77),
 (852, 227.79),
 (853, -298.35),
 (854, -56.37),
 (855, 253.36),
 (856, -260.62),
 (857, -5.69),
 (858, 22.04),
 (859, 98.57),
 (860, 41.02),
 (861, 288.77),
 (862, -408.76),
 (863, -81.29),
 (864, -153.07),
 (865, -227.82),
 (866, 124.13),
 (868, -56.9),
 (869, -49.74),
 (870, -269.26),
 (871, 132.67),
 (872, 80.78),
 (873, -45.53),
 (874, -94.1),
 (875, -41.29),
 (876, -11.49),
 (877, -82.72),
 (881, 382.11),
 (882, 33.9),
 (883, -72.2),
 (884, -8.24),
 (885, 49.79),
 (886, -291.95),
 (887, 226.04),
 (888, -101.83),
 (891, 84.75),
 (892, -12.29),
 (893, 0.69),
 (894, 102.45),
 (895, 77.63),
 (896, -306.47),
 (898, -66.84),
 (899, 379.8),
 (900, -100.25),
 (901, -266.0),
 (902, -65.82),
 (903, 30.4),
 (904, -8.47),
 (906, -140.92),
 (907, 244.36),
 (908, -91.71),
 (909, -31.08),
 (910, -19.74),
 (911, -76.45),
 (912, -202.56),
 (913, -88.1),
 (915, -258.63),
 (917, -217.31),
 (918, 103.57),
 (919, 91.81),
 (920, -160.37),
 (921, -84.42),
 (922, -147.77),
 (924, -303.95),
 (925, -51.41),
 (926, -54.29),
 (927, 90.69),
 (928, 163.35),
 (929, 83.94),
 (930, 109.57),
 (931, 207.06),
 (933, 276.28),
 (934, 18.97),
 (935, 45.81),
 (937, 187.75),
 (938, -200.19),
 (939, -180.36),
 (940, 156.65),
 (941, 223.64),
 (942, -8.17),
 (943, -92.88),
 (944, 233.02),
 (945, 33.07),
 (946, -90.57),
 (947, -207.79),
 (948, -281.09),
 (949, 32.76),
 (950, -230.06),
 (951, 173.23),
 (952, -49.46),
 (953, -103.38),
 (955, 272.08),
 (956, 275.0),
 (957, -249.27),
 (958, -123.51),
 (959, -162.06),
 (960, 76.32),
 (961, 112.73),
 (962, 7.46),
 (963, 116.84),
 (964, 153.68),
 (965, 37.8),
 (966, 13.58),
 (967, -64.77),
 (968, 174.96),
 (969, 144.53),
 (970, -9.28),
 (972, 33.21),
 (974, -2.96),
 (975, 64.45),
 (976, 7.29),
 (977, -192.4),
 (978, -7.02),
 (979, 32.9),
 (980, 151.42),
 (981, -40.34),
 (982, 169.95),
 (983, -232.3),
 (985, -42.71),
 (986, -135.81),
 (987, 55.66),
 (988, 158.5),
 (989, -85.66),
 (990, -150.92),
 (991, -46.5),
 (992, -137.85),
 (993, -23.75),
 (994, 8.26),
 (995, 25.64),
 (997, -126.45),
 (998, 15.19),
 (999, 71.38),
 (1000, -26.22),
 (1001, -160.21),
 (1003, 134.63),
 (1004, 40.23),
 (1006, 123.97),
 (1007, 116.58),
 (1008, -6.5),
 (1009, 179.71),
 (1010, 142.22),
 (1011, -122.32),
 (1012, 151.27),
 (1013, 277.39),
 (1014, -406.16),
 (1015, 9.78),
 (1016, -50.12),
 (1017, 188.29),
 (1018, 175.56),
 (1019, 147.34),
 (1020, 60.33),
 (1021, -82.14),
 (1022, -40.24),
 (1023, -13.26),
 (1024, 235.99),
 (1025, 107.99),
 (1028, -314.59),
 (1029, 202.12),
 (1030, 206.62),
 (1031, -62.28),
 (1032, -238.65),
 (1033, -63.39),
 (1034, -124.24),
 (1035, -78.82),
 (1036, 336.18),
 (1037, 84.67),
 (1038, -69.55),
 (1039, -139.02),
 (1040, 49.57),
 (1041, -157.08),
 (1042, -200.01),
 (1043, 254.7),
 (1044, 0.22),
 (1045, 101.83),
 (1047, -81.81),
 (1048, -207.52),
 (1050, -315.27),
 (1052, 106.88),
 (1053, 88.26),
 (1054, -56.63),
 (1055, -132.35),
 (1056, -12.61),
 (1057, 66.07),
 (1058, -28.85),
 (1059, -68.76),
 (1060, 138.32),
 (1061, -49.38),
 (1062, -153.15),
 (1063, -174.08),
 (1065, 112.54),
 (1066, 270.27),
 (1067, 127.31),
 (1068, -155.86),
 (1069, 369.54),
 (1070, 62.54),
 (1071, -152.49),
 (1072, 8.13),
 (1073, 30.05),
 (1074, 212.55),
 (1075, 80.76),
 (1076, -189.4),
 (1077, -141.94),
 (1078, 39.87),
 (1079, -30.39),
 (1080, -31.08),
 (1081, 98.85),
 (1083, -324.36),
 (1084, -8.47),
 (1085, 105.36),
 (1087, 192.83),
 (1088, 100.36),
 (1089, -225.91),
 (1090, -25.74),
 (1091, -48.4),
 (1092, 83.28),
 (1093, 32.82),
 (1094, 249.03),
 (1095, -119.8),
 (1096, -31.73),
 (1097, 318.16),
 (1098, 3.89),
 (1099, -252.13),
 (1100, -192.99),
 (1101, -181.13),
 (1103, 95.29),
 (1104, 389.25),
 (1105, 23.65),
 (1107, -317.31),
 (1108, -194.15),
 (1109, -33.78),
 (1110, -97.73),
 (1111, -25.25),
 (1112, -58.69),
 (1113, -39.36),
 (1114, -51.18),
 (1115, -263.73),
 (1116, 116.68),
 (1117, 230.02),
 ...]

In [15]:
# make the assignment here
raw_target3_rdd = raw_target2_rdd.map(map_target2)
raw_target3_rdd.take(10)

[(0, -252.49),
 (1, 36.67),
 (2, 138.02),
 (3, -429.54),
 (4, -18.23),
 (5, -5.52),
 (6, -31.96),
 (9, -111.88),
 (10, -34.48),
 (11, -172.76)]

A sample of results:

```python
raw_target2_rdd.map(map_target2).sortByKey().take(5)
```

```
[(0, -252.49), (1, 36.67), (2, 138.02), (3, -429.54), (4, -18.23)]
```

In [16]:
# try it yourself
raw_target2_rdd.map(map_target2).sortByKey().take(5)

[(0, -252.49), (1, 36.67), (2, 138.02), (3, -429.54), (4, -18.23)]

In [17]:
"""5 pts: Check that raw_target3_rdd contains the right values"""
# check types
np.testing.assert_equal(type(raw_target3_rdd.keys().first()), int)
np.testing.assert_equal(type(raw_target3_rdd.values().first()), float)
# the sum of all targets
np.testing.assert_approx_equal(raw_target3_rdd.values().sum(), -179351.71, significant=1)

## Question 2.4 (10 pts):

In this question, you will use map reduce to produce an RDD of key-value pairs where the key is the customer index and the value is a dictionairy with all the features and values associated with that customer. Notice that the map part of the map-reduce is already defined by `map_features2` on `raw_features2_rdd`. Therefore, define the proper `reduce_features2` function to produce the desired results. Create a RDD named `raw_features3_rdd` with the results:

In [18]:
def reduce_features2(v1, v2):
    # YOUR CODE HERE
    return {**v1,**v2}
    raise NotImplementedError()

# Apply mapreduce to produce the raw_features3_rdd from raw_features2_rdd
# YOUR CODE HERE
raw_features3_rdd= raw_features2_rdd.map(map_features2).reduceByKey(reduce_features2)

Running the map reduce should produce the following example result:
```python
raw_features3_rdd.sortByKey().take(2)
```

```console
[(0,
  {'f_0': -0.57,
   'f_1': -0.38,
   'f_2': 0.0,
   'f_3': -0.07,
   'f_4': -0.28,
   'f_5': -0.79,
   'f_7': 0.28,
   'f_8': 1.65,
   'f_9': 0.57}),
 (1,
  {'f_0': 0.5,
   'f_1': 0.8,
   'f_2': -0.49,
   'f_3': 0.25,
   'f_4': 0.37,
   'f_5': 0.73,
   'f_6': -0.43,
   'f_7': 0.89,
   'f_8': -1.85,
   'f_9': -0.44})]
```

In [19]:
raw_features3_rdd.take(3)

[(0,
  {'f_0': -0.57,
   'f_1': -0.38,
   'f_2': 0.0,
   'f_3': -0.07,
   'f_4': -0.28,
   'f_5': -0.79,
   'f_7': 0.28,
   'f_8': 1.65,
   'f_9': 0.57}),
 (2,
  {'f_0': 0.18,
   'f_1': 0.23,
   'f_2': -0.15,
   'f_3': -0.17,
   'f_5': 0.89,
   'f_6': 0.39,
   'f_7': -0.58,
   'f_8': 0.33,
   'f_9': -0.57}),
 (4,
  {'f_0': -0.79,
   'f_1': -0.28,
   'f_2': -0.26,
   'f_3': 0.28,
   'f_4': -0.17,
   'f_5': -0.51,
   'f_6': 0.44,
   'f_7': -0.62,
   'f_8': 1.82,
   'f_9': -0.35})]

In [20]:
"""10 pts: Check that raw_features3_rdd has the correct format and values. There could be hidden tests!"""
# key is an integer
np.testing.assert_equal(type(raw_features3_rdd.first()[0]), int)
# value is a dictionary
np.testing.assert_equal(type(raw_features3_rdd.first()[1]), dict)

## Question 2.5 (20 pts):

Join the two RDDs `raw_target3_rdd` and `raw_features3_rdd` to create an RDD with elements of the form

`[customer_index, (target, feature_dict)]`

where `target` comes from `raw_target3_rdd`, and `feature_dict` is the dictionary with features from `raw_features3_rdd`.

Assign to `rdd_complete` a filtered version of the join for customers who have all 10 features and a target.

Finally use `rdd_complete_rows` to create an RDD of `Row` objects where you map each entry to the following format:

`Row(customer_index,  f_0,  f_1,  f_2,  f_3,  f_4,  f_5,  f_6,  f_7,  f_8,  f_9, target)`

For example, from `rdd_complete`:

```python
rdd_complete.sortByKey().first()
```
should return
```
(1,
 (36.67,
  {'f_0': 0.5,
   'f_1': 0.8,
   'f_2': -0.49,
   'f_3': 0.25,
   'f_4': 0.37,
   'f_5': 0.73,
   'f_6': -0.43,
   'f_7': 0.89,
   'f_8': -1.85,
   'f_9': -0.44}))
```

In [21]:
# create rdd_complete here
# YOUR CODE HERE
rdd_complete=raw_target3_rdd.join(raw_features3_rdd).filter(lambda e:len(e[1][1])==10 and e[1][0] is not None)
#raise NotImplementedError()

In [22]:
rdd_complete.sortByKey().first()

(1,
 (36.67,
  {'f_0': 0.5,
   'f_1': 0.8,
   'f_2': -0.49,
   'f_3': 0.25,
   'f_4': 0.37,
   'f_5': 0.73,
   'f_6': -0.43,
   'f_7': 0.89,
   'f_8': -1.85,
   'f_9': -0.44}))

In [23]:
"""10 pts: Test if `rdd1` has the right data. Remember that there could be hidden tests!"""
# number of elements expected
np.testing.assert_equal(rdd_complete.count(), 5379)

In [24]:
# here define the function to_row that a Row object for an entry of rdd_complete
def to_row(e):
    a = Row(customer_index=e[0])
    a = a.asDict()
    a.update(e[1][1])
    a['target']=e[1][0]
    return Row(**a)
    raise NotImplementedError()

complete_df = rdd_complete.map(to_row).toDF()

In [25]:
# test
rdd_complete.map(to_row).toDF().orderBy('customer_index').show(5)

+--------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-------+
|customer_index|  f_0|  f_1|  f_2|  f_3|  f_4|  f_5|  f_6|  f_7|  f_8|  f_9| target|
+--------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-------+
|             1|  0.5|  0.8|-0.49| 0.25| 0.37| 0.73|-0.43| 0.89|-1.85|-0.44|  36.67|
|             3| 0.14|-0.87|-0.94| 0.09|-0.69|-0.29|-0.45| -0.6|-1.28|-0.38|-429.54|
|             4|-0.79|-0.28|-0.26| 0.28|-0.17|-0.51| 0.44|-0.62| 1.82|-0.35| -18.23|
|             5|-0.11| 0.86| -1.3|-0.09|-0.12|-0.47| 0.05| 0.98|-1.59|  0.3|  -5.52|
|             9| 0.57| 0.07|-0.31|-0.92|-0.26| -0.9|-0.06|-0.76| 1.39| 0.01|-111.88|
+--------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-------+
only showing top 5 rows

In [26]:
# 10 pts test that the creation of the row is successful
assert rdd_complete.map(to_row).toDF()
np.testing.assert_array_equal(rdd_complete.map(to_row).toDF().columns, 
              ['customer_index',
 'f_0',
 'f_1',
 'f_2',
 'f_3',
 'f_4',
 'f_5',
 'f_6',
 'f_7',
 'f_8',
 'f_9',
 'target'])

## Question 2.6 (20 pts):

We will now use the `to_row` function created above to create a dataframe of the data `df`

In [27]:
df = rdd_complete.map(to_row).toDF()

Explore the dataframe a bit:

```python
df.orderBy('customer_index').show(5)
```

```console
+--------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-------+
|customer_index|  f_0|  f_1|  f_2|  f_3|  f_4|  f_5|  f_6|  f_7|  f_8|  f_9| target|
+--------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-------+
|             1|  0.5|  0.8|-0.49| 0.25| 0.37| 0.73|-0.43| 0.89|-1.85|-0.44|  36.67|
|             3| 0.14|-0.87|-0.94| 0.09|-0.69|-0.29|-0.45| -0.6|-1.28|-0.38|-429.54|
|             4|-0.79|-0.28|-0.26| 0.28|-0.17|-0.51| 0.44|-0.62| 1.82|-0.35| -18.23|
|             5|-0.11| 0.86| -1.3|-0.09|-0.12|-0.47| 0.05| 0.98|-1.59|  0.3|  -5.52|
|             9| 0.57| 0.07|-0.31|-0.92|-0.26| -0.9|-0.06|-0.76| 1.39| 0.01|-111.88|
+--------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-------+
only showing top 5 rows
```

In [28]:
# explore it yourself
df.orderBy('customer_index').show(5)

+--------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-------+
|customer_index|  f_0|  f_1|  f_2|  f_3|  f_4|  f_5|  f_6|  f_7|  f_8|  f_9| target|
+--------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-------+
|             1|  0.5|  0.8|-0.49| 0.25| 0.37| 0.73|-0.43| 0.89|-1.85|-0.44|  36.67|
|             3| 0.14|-0.87|-0.94| 0.09|-0.69|-0.29|-0.45| -0.6|-1.28|-0.38|-429.54|
|             4|-0.79|-0.28|-0.26| 0.28|-0.17|-0.51| 0.44|-0.62| 1.82|-0.35| -18.23|
|             5|-0.11| 0.86| -1.3|-0.09|-0.12|-0.47| 0.05| 0.98|-1.59|  0.3|  -5.52|
|             9| 0.57| 0.07|-0.31|-0.92|-0.26| -0.9|-0.06|-0.76| 1.39| 0.01|-111.88|
+--------------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-------+
only showing top 5 rows

The subpackage `pyspark.ml.functions` (aliased as `fn` below) contains many common functions for data analysis. Find the function for computing the __correlation__ (the strength of the linear relationship between two variables) between two columns, the function for computing __absolute__ values, and create a data frame `correlations_df` that contains the following columns in the following order:

1. `c0_target`: correlation between feature 0 and target
1. `c1_target`: correlation between feature 1 and target
1. `c2_target`: correlation between feature 2 and target
1. `c3_target`: correlation between feature 3 and target
1. `c4_target`: correlation between feature 4 and target
1. `c5_target`: correlation between feature 5 and target
1. `c6_target`: correlation between feature 6 and target
1. `c7_target`: correlation between feature 7 and target
1. `c8_target`: correlation between feature 8 and target
1. `c9_target`: correlation between feature 9 and target
1. `sig0`: boolean `true` if the absolute value of the correlation between feature 0 and target is greater than 0.5, `false` o.w.
1. `sig1`: boolean `true` if the absolute value of the correlation between feature 1 and target is greater than 0.5, `false` o.w.
1. `sig2`: boolean `true` if the absolute value of the correlation between feature 2 and target is greater than 0.5, `false` o.w.
1. `sig3`: boolean `true` if the absolute value of the correlation between feature 3 and target is greater than 0.5, `false` o.w.
1. `sig4`: boolean `true` if the absolute value of the correlation between feature 4 and target is greater than 0.5, `false` o.w.
1. `sig5`: boolean `true` if the absolute value of the correlation between feature 5 and target is greater than 0.5, `false` o.w.
1. `sig6`: boolean `true` if the absolute value of the correlation between feature 6 and target is greater than 0.5, `false` o.w.
1. `sig7`: boolean `true` if the absolute value of the correlation between feature 7 and target is greater than 0.5, `false` o.w.
1. `sig8`: boolean `true` if the absolute value of the correlation between feature 8 and target is greater than 0.5, `false` o.w.
1. `sig9`: boolean `true` if the absolute value of the correlation between feature 9 and target is greater than 0.5, `false` o.w.

**Hint: Remember that you can pass a list of columns to `df.select`. You can create such list with list comprehension, saving a lot of code**

In [29]:
# import the package functions as fn
from pyspark.sql import functions as fn

In [30]:
# apply some function to the columns: df.select(...)
df.select('f_7').show()

+-----+
|  f_7|
+-----+
|-0.62|
| -0.8|
|-0.06|
|-1.19|
| 1.05|
|-0.48|
|  0.7|
|-0.85|
|-0.05|
|  0.9|
| 1.05|
| 0.11|
|-0.18|
| 1.07|
| 1.37|
|-0.26|
|-2.44|
|-0.41|
|-0.46|
| 0.58|
+-----+
only showing top 20 rows

In [33]:
# Create the dataframe `correlations_df` here
# YOUR CODE HERE
a= []
b = []

for j in range(10):
    x = df.corr('target','f_'+str(j))
    a.append(x)
    if abs(x) > 0.5:
        b.append(True)
    else:
        b.append(False)

a = a+b

correlations_df = spark.createDataFrame(Row(a))
newColumns = ['c' + str(y) + '_target' for y in range(10)] + ['sig' + str(y) for y in range(10)]
oldColumns = correlations_df.schema.names

for i in range(20):
    correlations_df = correlations_df.withColumnRenamed(oldColumns[i], newColumns[i])
    
correlations_df.show()

+--------------------+-----------------+------------------+--------------------+------------------+--------------------+------------------+-------------------+--------------------+--------------------+-----+----+-----+-----+----+-----+----+-----+-----+-----+
|           c0_target|        c1_target|         c2_target|           c3_target|         c4_target|           c5_target|         c6_target|          c7_target|           c8_target|           c9_target| sig0|sig1| sig2| sig3|sig4| sig5|sig6| sig7| sig8| sig9|
+--------------------+-----------------+------------------+--------------------+------------------+--------------------+------------------+-------------------+--------------------+--------------------+-----+----+-----+-----+----+-----+----+-----+-----+-----+
|0.004550467203235611|0.517541807653123|0.2422254992218166|-0.02725292295686...|0.6109343603342665|-0.01506188705709...|0.5763480950714736|0.06334859042481798|0.007563889344988253|-0.01715842226040008|false|true|false|false|true|false|true|false|false|false|
+--------------------+-----------------+------------------+--------------------+------------------+--------------------+------------------+-------------------+--------------------+--------------------+-----+----+-----+-----+----+-----+----+-----+-----+-----+

In [32]:
"""20 pts: Check that the dataframe has the correct columns and values. There could be hidden tests!"""
# check column names
column_names = ['c' + str(fi) + '_target' for fi in range(10)] + \
               ['sig' + str(fi) for fi in range(10)]

# column's names and positions in the right order
np.testing.assert_equal(correlations_df.columns, column_names)

from pyspark.sql.types import DoubleType, BooleanType


# the types are correct
np.testing.assert_equal([type(f.dataType) for f in correlations_df.schema.fields], 
                        10*[DoubleType] + 10*[BooleanType])

# the values are correct
np.testing.assert_approx_equal(correlations_df.toPandas().sum().sum(), 
                               4.963039476979365,
                               significant=1)